.btn-icon {
  --bs-btn-size: 2.5rem;
  flex-shrink: 0;
  height: var(--bs-btn-size);
  padding: 0;
  width: var(--bs-btn-size);
}

a {
  text-decoration: none;
  color: var(--bs-body-color);
}

.animate-slide-end {
  overflow: hidden;
}
.animate-slide-end:hover .animate-target, .animate-slide-end:focus-visible .animate-target {
  animation: slide-end 0.3s forwards;
}

.animate-slide-start {
  overflow: hidden;
}
.animate-slide-start:hover .animate-target, .animate-slide-start:focus-visible .animate-target {
  animation: slide-start 0.3s forwards;
}

.animate-slide-up {
  overflow: hidden;
}
.animate-slide-up:hover .animate-target, .animate-slide-up:focus-visible .animate-target {
  animation: slide-up 0.3s forwards;
}

.animate-slide-down {
  overflow: hidden;
}
.animate-slide-down:hover .animate-target, .animate-slide-down:focus-visible .animate-target {
  animation: slide-down 0.3s forwards;
}

@keyframes slide-end {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes slide-start {
  49% {
    transform: translate(-100%);
  }
  50% {
    opacity: 0;
    transform: translate(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes slide-up {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes slide-down {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
.animate-blinking {
  animation: blinking 1s infinite;
}

@keyframes blinking {
  from {
    opacity: 0;
  }
}